.square {
  width: 50vw;
  height: 50vw
  position: relative;
  width: 50%;
  
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  
  width: 90%;
  height: 90%;
  margin: auto;