body {
  background: black;
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #aa3e03;
  overflow-y: show;
  overflow-x: hidden;
  z-index: 0;
}
.container {
  position: absolute;
  width: 6vw;
  height: 6vw;
  translate(-50%, -50%);
  z-index: 999;

}
svg path, svg line {
  stroke: rgb(15,162,127);
  stroke-width: 3px;
  stroke-linecap: round;
  fill: none;
}

.trigger {
  position: absolute;
  width: 6vw;
  height: 6vw;
  cursor: pointer;
  z-index: 999;
  top: 0;
  left: 0;
}

.leftGate {
  position: absolute;
  background-color: #f5f5f5;
  width: 6%;
  height: 100vh;
  cursor: pointer;
  z-index: 2;
  top: 0;
  left: 0;
}

.smallLogo {
  position: absolute;
  bottom: 0px;
  width: 5vw;
  height: 5vw;
  background-image: url('samples/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
  margin: 0.5vw;
  margin-bottom: 5vh;
  opacity: 0.8;
}

.rightGate {
  position: absolute;
  background-color: black;
  width: 94%;
  height: 100vh;
  z-index: 2;
  top: 0;
  left: 6%;

}

.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: block;
  text-shadow: 1px 1px 2px #000000;
  text-align: center;

}

.banner h2 {
  font-family: heavy;
  color: white;
  font-size: 4vw;
  text-transform: uppercase;
  margin-top: 16%;
}

.banner h2 {
  font-family: heavy;
  color: white;
  font-size: 6vw;
  text-transform: uppercase;
  margin-top: 40vh;
}

.kreska{
  width: 10vw;
  height: 0.5vw;
  background-color: rgb(15,162,127);
  margin: 2vw 45%;
}

.banner p {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 1.2vw;
}

.przycisk {
  width: 20vw;
  padding: 1vw;
  text-align: center;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 1.2vw;
  text-transform: uppercase;
  transition: color 0.2s, background-color 0.2s;
  margin: 3% 39%;
}

.przycisk:hover {
  background-color: white;
  color: black;
}

.siatka {
  background-image: url('samples/siatka.png');
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}


.menu {
  position: absolute;
  background-color: #f5f5f5;
  width: 20vw;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.bigLogo {
  width: 20vw;
  height: 20vw;
  margin: 0%;
  margin-top: 10vh;
  background-image: url('samples/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.nav{

}

.menuitem {
  display: block;
  width: 15.4vw;
  height: 1.5vw;
  position: static;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5vh;
  line-height: 3vh;
  color: #818181;
  text-transform: uppercase;
  cursor: pointer;
  border-top: 0.18vh solid #efefef;
  border-bottom: 0.18vh solid #FFF;
  border-left: 0.6vw solid rgba(0,0,0,0.0);
  margin-bottom: 0;
  padding: 1.5vh 2vw;
  z-index: 1;
}

.menuitem:hover {
  background-color: rgba(15,162,127,0.2);
}

.gallerymenu {
  position: absolute;
  background-color: #f5f5f5;
  width: 20vw;
  height: 49vh;
  z-index: 2;
  margin-top: 10vh;
  top: 20vw;
  left: -20%;
}

.gallerymenuitem {
  display: block;
  width: 15.4vw;
  height: 1.5vw;
  position: static;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5vh;
  line-height: 3vh;
  color: #818181;
  text-transform: uppercase;
  cursor: pointer;
  border-top: 0.18vh solid #efefef;
  border-bottom: 0.18vh solid #FFF;
  border-left: 0.6vw solid rgba(0,0,0,0.0);
  margin-bottom: 0;
  padding: 1.5vh 2vw;
  z-index: 1;
}

.gallerymenuitem:hover {
  background-color: rgba(15,162,127,0.2);
}

.thisPage {
  border-left: 0.6vw solid rgb(15,162,127);
  background-color: white;
}

.thisGallery {
  border-left: 0.6vw solid rgb(15,162,127);
  background-color: white;
}

.bar {
  border-left: 0.6vw solid rgb(15,162,127);
  background-color: rgb(15,162,127);
  color: white
}


iframe {
  width: 100%;
  height: 100%;
}


