@import url('https://fonts.googleapis.com/css?family=Raleway:200,800');

body {
  position: absolute;
  background: #1c1c1c;
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #aa3e03;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 0;
}

.hamburgerMenu {
  position: absolute;
  width: 6vw;
  height: 6vw;
  z-index: 999;
  cursor: pointer;
  top: 0;
  left: 0;
}

.hamburgerMenu input{
  position: absolute;
  width: 6vw;
  height: 6vw;
  z-index: 999;
  cursor: pointer;
  top: 0;
  left: 0; 
  margin: 0;
  opacity: 0;
}

.hamburgerMenu input:hover ~ span:nth-last-child(1) {
  top: 3.2vw;
}

.hamburgerMenu input:hover ~ span:nth-last-child(3) {
  top: 2.3vw;
}

.hamburgerMenu input:checked ~ span:nth-last-child(1) {
  top: 3vw;
  transform: rotate(45deg);
}

.hamburgerMenu input:checked ~ span:nth-last-child(3) {
  top: 3vw;
  transform: rotate(-45deg);
}


.hamburgerMenu input:checked ~ span:nth-last-child(2) {
  opacity: 0;
}

.ml {
  position: absolute;
  left: 1.5vw;
  background-color: rgb(15,162,127);
  width: 3vw;
  height: 0.3vh;
}

.menuLineOne {
  top: 2vw;
  transition: 0.3s;
}

.menuLineTwo {
  top: 2.75vw;
  transition: 0.3s;
}

.menuLineThree {
  top: 3.5vw;
  transition: 0.3s;
}

.leftGate {
  position: absolute;
  background-color: #f5f5f5;
  width: 6%;
  height: 100vh;
  z-index: 2;
  top: 0;
  left: 0;
}

.smallLogo {
  position: absolute;
  bottom: 0px;
  width: 5vw;
  height: 5vw;
  background-image: url('images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
  margin: 0.5vw;
  margin-bottom: 5vh;
  opacity: 0.8;
}

.rightGate {
  position: absolute;
  background-color: #1c1c1c;
  width: 94%;
  height: 100vh;
  z-index: 2;
  top: 0;
  left: 6%;

}

.menu {
  position: absolute;
  background-color: #f5f5f5;
  width: 20vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
}

.bigLogo {
  width: 20vw;
  height: 20vw;
  margin: 0%;
  margin-top: 10vh;
  background-image: url('images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.nav{

}

.menuitem {
  background-color: #f5f5f5;;
  display: block;
  width: 15.4vw;
  height: 1.5vw;
  position: static;
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
  line-height: 1.5vw;
  color: #818181;
  cursor: pointer;
  border-left: 0.6vw solid rgba(0,0,0,0.0);
  margin-bottom: 0;
  padding: 1.5vh 3vw;
  z-index: 1;
}

.menuitem:hover {
  background-color: rgba(15,162,127,0.2);
}

.gallerymenu {
  position: absolute;
  background-color: #f5f5f5;
  width: 20vw;
  height: 49vh;
  z-index: 2;
  margin-top: 10vh;
  top: 20vw;
  left: -20%;
}

.gallerymenuitem {
  display: block;
  width: 13.4vw;
  height: 1.5vw;
  position: static;
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
  line-height: 1.5vw;
  color: #818181;
  cursor: pointer;
  border-left: 0.6vw solid rgba(0,0,0,0.0);
  margin-bottom: 0;
  padding: 1.5vh 3vw;
  z-index: 1;
}

.gallerymenuitem:hover {
  background-color: rgba(15,162,127,0.2);

}

.thisPage {
  border-left: 0.6vw solid rgb(15,162,127);
  background-color: white;
}

.thisGallery {
  border-left: 0.6vw solid rgb(15,162,127);
  background-color: white;
}

.bar {
  border-left: 0.6vw solid transparent;

}

.separatorMenu {
  margin-left: 3.5vw;
  width: 13vw;
  border-top: 0.1vh solid #1c1c1c;

}


iframe {
  width: 100%;
  height: 100%;
}




@media only screen and (max-width: 680px) {


.hamburgerMenu {
  position: absolute;
  width: 20vw;
  height: 20vw;
  z-index: 999;
  cursor: pointer;
  top: 0;
  left: 80vw;
}

.hamburgerMenu input{
  position: absolute;
  width: 20vw;
  height: 20vw;
  z-index: 999;
  cursor: pointer;
  top: 0;
  margin: 0;
  opacity: 0;
}

.hamburgerMenu input:hover ~ span:nth-last-child(1) {
  top: 11vw;
}

.hamburgerMenu input:hover ~ span:nth-last-child(3) {
  top: 5vw;
}

.hamburgerMenu input:checked ~ span:nth-last-child(1) {
  top: 8vw;
  transform: rotate(45deg);
}

.hamburgerMenu input:checked ~ span:nth-last-child(3) {
  top: 8vw;
  transform: rotate(-45deg);
}

.hamburgerMenu input:checked ~ span:nth-last-child(2) {
  opacity: 0;
}

.ml {
  position: absolute;
  background-color: rgb(15,162,127);
  width: 15vw;
  height: 0.3vh;
}

.menuLineOne {
  top: 5vw;
  transition: 0.3s;
}

.menuLineTwo {
  top: 8vw;
  transition: 0.3s;
}

.menuLineThree {
  top: 11vw;
  transition: 0.3s;
}


   .leftGate {
    display: none;
  }

  .rightGate {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  top: 0;
  left: 0;
}

.bigLogo {
  width: 50vw;
  height: 50vw;
  margin-left: 25%;
  margin-top: 10vh;
  margin-bottom: 10vw;
  background-image: url('images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.menu {
  position: absolute;
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
}

.menuitem {
  background-color: #f5f5f5;;
  display: block;
  width: 84vw;
  height: 5.5vw;
  position: static;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 5vw;
  line-height: 5.5vw;
  color: #818181;
  cursor: pointer;
  border-left: 5vw solid rgba(0,0,0,0.0);
  border-right: 5vw solid rgba(0,0,0,0.0);
  margin-bottom: 0;
  padding: 1.5vh 3vw;
  z-index: 1;
}

.menuitem:hover {
  background-color: rgba(15,162,127,0.2);
}

.gallerymenu {
  position: absolute;
  background-color: #f5f5f5;
  width: 100vw;
  height: 49vh;
  z-index: 2;
  margin-top: 10vh;
  top: 60vw;
  left: -100%;
}

.gallerymenuitem {
  display: block;
  width: 84vw;
  height: 5.5vw;
  position: static;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 5vw;
  line-height: 5.5vw;
  color: #818181;
  cursor: pointer;
  border-left: 5vw solid rgba(0,0,0,0.0);
  border-right: 5vw solid rgba(0,0,0,0.0);
  margin-bottom: 0;
  padding: 1.5vh 3vw;
  z-index: 1;
}

.gallerymenuitem:hover {
  background-color: rgba(15,162,127,0.2);

}

.thisPage {
  border-left: 5vw solid rgb(15,162,127);
  background-color: white;
}

.thisGallery {
  border-left: 5vw solid rgb(15,162,127);
  background-color: white;
}

.bar {
  border-left: 0.6vw solid transparent;

}

.separatorMenu {
  margin-left: 25vw;
  width: 50vw;
  border-top: 1px solid #1c1c1c;

}

}