body {
	position: absolute;
  	background: black;
  	width: 100vw;
  	height: 100%;
  	font-family: 'raleway', sans-serif;
	font-weight: 200;
  	overflow-y: hidden;
  	overflow-x: hidden;
  	overflow-y: show;
  	overflow-x: show;
  	z-index: 0;
}

.gallery {
	display: none;

}

.mainImg {
	display: inline-flex;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 85%;
	background-color: #1c1c1c;
}

.listImg {
	display: inline-flex;
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 15%;
	background-color: #1c1c1c;
}

.bigImg {
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.smallImgOwn{
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.smallImg{
	margin: 3% 1.5%;
	height: 90%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	cursor: pointer;
	opacity: 0.3;
	transition: opacity 0.3s;

}

.smallImg:hover{
	opacity: 1.0;

}

.activImg {
	opacity: 1.0;
	
}

.ctrlBar {
	position: absolute;
	bottom: 15%;
	right: 0px;
	background-color: black;
	opacity: 0.5;

}

.arrow {
	position: absolute;
	width: 20%;
	height: 80%;
	color: rgb(15,162,127);
	cursor: pointer;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: height 0.2s;

}

.arrow:hover {
	height: 100%;
}


.leftArrow {
	left: 0%;
	background-image: url('../samples/left-arrow.png');

}

.rightArrow{
	right: 0%;
	background-image: url('../samples/right-arrow.png');
}

.counter{
	width: auto;
	right: 50%;
	font-size: 3vw ;
	text-align: right;
}

.counterTotal{
	width: auto;
	left: 50%;
	font-size: 2vw;
	text-align: left;
}
}