.log {
  position: absolute;
  text-align: left;
  z-index: 99999;
  color: blue;
  width: 100px;
  height: 50px;
}

body {
	position: absolute;
  background: white;
  width: 100vw;
  height: 100%;
  font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow-y: show;
  overflow-x: show;
  z-index: 0;
}

.gallery {
	display: none;

}

.mainImg {
	display: inline-flex;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 85%;
	background-color: black;
}

.listImg {

	display: inline-flex;
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 15%;
	min-width: 100vw;
	width: 50%;
	background-color: black;
}

.bigImg {
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.smallImg{
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0.5;
}

.activImg {
	opacity: 1.0;
}

.ctrlBar {
	position: absolute;
	bottom: 15%;
	right: 0px;
	min-width: 180px;
	min-height: 45px;
	width: 10%;
	height: 5%;
	background-color: black;
	opacity: 0.5;
	z-index: 999;

}

.arrow {
	position: absolute;
	width: 20%;
	height: 100%;
	cursor: pointer;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: background-size 0.8s;
}

.arrow:hover {
	background-size: cover;
}


.leftArrow {
	left: 0%;
	background-image: url('../samples/left-arrow.png');

}

.rightArrow{
	right: 0%;
	background-image: url('../samples/right-arrow.png');
}

}